HELP.md
.gradle
build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### secrets ###
/config/config-files/*-secret.yml
/config/config-files/*-secrets.yml
.DS_Store

# 터미널 및 IDE 히스토리
.history
.bash_history
.zsh_history

# target directory
news-service/target/
target/

# env files
.env
.env.local