Flask
Flask-SQLAlchemy
SQLAlchemy
Flask-Migrate
alembic
Flask-Cors
python-dotenv
PyMySQL
openai
py-eureka-client
# psycopg2-binary   # PostgreSQL driver (optional)
# gunicorn          # Production WSGI server (optional)
